/node_modules
/public/hot
/public/storage
/public/images
/public/css/*
/public/js/*
/public/*.js
/public/*.js.map
/public/mix-manifest.json
/storage/*.key
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php_cs.cache

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
