APP_NAME=TuneCache
APP_ENV=dev
APP_KEY=base64:HOlqnBWwgbNre8trASUQ0BGNv+ks0YR6QvntPhIfWVQ=
APP_DEBUG=true
APP_URL=http://localhost:80

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=default
DB_USERNAME=default
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_NAME="TuneCache"
MAIL_FROM_ADDRESS="no-reply@tunecache.com"

MAILCHIMP_APIKEY=
MAILCHIMP_LIST_ID=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ADMIN_ACCESS_KEY_ID=
AWS_S3_ADMIN_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-west-2
AWS_DEFAULT_BUCKET=tunecache-default-dev
AWS_DEFAULT_CDN_URL=https://cdn-dev.tunecache.com
AWS_IMAGE_ROUTE_53=
AWS_IMAGE_BUCKET=tunecache-images-dev
AWS_IMAGE_CDN_URL=https://cdn-dev.tunecache.com/images
AWS_TRACK_BUCKET=tunecache-tracks-dev
AWS_TRACK_CDN_URL=https://cdn-dev.tunecache.com/tracks

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

API_URL=http://localhost:80/api/v1

STRIPE_KEY=
STRIPE_SECRET=

SENTRY_LARAVEL_DSN=

ALGOLIA_APP_ID=
ALGOLIA_SECRET=
