APP_NAME=TuneCache
APP_ENV=dev
APP_KEY=base64:HOlqnBWwgbNre8trASUQ0BGNv+ks0YR6QvntPhIfWVQ=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=tunecache
DB_PORT=5432
DB_DATABASE=default
DB_USERNAME=default
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=TuneCache
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="TuneCache"
MAIL_FROM_ADDRESS="no-reply@tunecache.com"

MAILCHIMP_APIKEY=
MAILCHIMP_LIST_ID=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-west-2
AWS_BUCKET=dev-tunecache-images

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

API_URL=http://localhost/api/v1

STRIPE_KEY=
STRIPE_SECRET=

SENTRY_LARAVEL_DSN=
